@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');


body { margin: 0; padding: 0;
      font-family: 'Merriweather',
      text-align: center;
      font-size: 20px;
        opacity: .7;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
     }


h1 {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;


}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bold;

}


h3 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  font-size: 20px;

}
h4 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 22px;
  font-size: 22px;
  font-weight: bold;

}


header{

  background-color: #048ba8;
  color: #fff;
  text-align: center;
  padding: 30px;
}

#cold1 {
  display: none;
  height: 200px;
  width: 200px;
}

#rain1 {
  display: none;
  height: 200px;
  width: 200px;
}

.img {
  height: 88px;
  width: 88px;
  border: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #048ba8;
  transition: background 0.3s ease;
  position: relative;
}

.btn-flat:hover {
  background: #2e4057;
  color: white;
}

.container {
  padding: 15px;
}

.field {
  font-size: 14px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
  margin: 10px;
}



.card {
        padding: 50px;
        margin-bottom: 10px;
        font-size: 5rem;
        border: 0px;


      }

.weathercard {
        padding: 20px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: auto;
        height: 10vh;
        min-height: 300px;

      }





.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.search-form-control .form-control:focus {
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

